<html>
  <head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <title>Settings</title>
  </head>
  <body>
    <h1>Settings</h1>
    <form action="{{ action }}" method="{{ method }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      {% for input in inputs %} {% if input.type == "submit" %}
      <div class="field">
        <button
          type="{{ input.type }}"
          name="{{ input.id }}"
          value="{{ input.value }}"
        >
          {{ input.label }}
        </button>
      </div>
      {% elif input.type == "img" %}
        <div class="field">
            <img src="{{ input.value }}" />
        </div>
      {% else %}
      <div class="field">
        {% if not input.type == "hidden" %}
        <label for="{{ input.id }}">{{ input.label }}</label>
        {% endif %} {% if input.required %}
        <span class="required">*</span>
        {% endif %}
        <input
          type="{{ input.type }}"
          name="{{ input.id }}"
          value="{{ input.value }}"
        />
      </div>
      {% endif %}
      <br/>
      {% endfor %}
    </form>
  </body>
</html>
